wrapper {
	width: 700px;
	margin: auto;
	overflow: hidden;
	display: block;
}

header {
	background: #005689;
	overflow: hidden;
}

header wrapper img {
	float: right;
	height: 36px;
	margin: 5px 0;
}
