wrapper {
	width: 700px;
	margin: auto;
	overflow: hidden;
	display: block;
}

header {
	background: #005689;
	color: #fff;
	overflow: hidden;
}

header wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

header wrapper img {
	float: right;
	height: 36px;
	margin: 5px 0;
}
